body {
    font-family: sans-serif;
    margin: 0;
    color: #333;
}
.main {
    padding: 4vw 15vw;
}
h1 {
    font-size: 3rem;
    color: orange;
    font-weight: thin;
}
h2 {
    font-size: 2rem;
    color: rgb(150, 183, 255);
    font-weight: thin;
}
p {
    font-size: 1.7rem;
    line-height: 2rem;
}
img{
    height: 10rem;
}