@font-face {
    font-family: Excelorate;
    src: url("../font/excelorate-font.otf");
  }
  @font-face {
    font-family: Harlow;
    src: url("../font/harlowsolideregular.ttf");
  }
body {
    font-family: Harlow, sans-serif;
    color: #f98787;
    margin: 0;
    background-color: black;
}