.question{
     padding: 0.5rem;
     font-size: 1.7rem;
}
.submitBtn{
     border: none;
     border-radius: 2rem;
     background-color: darksalmon;
     color: #fff;
     padding: 0.7rem;
     margin: 1rem;
     font-size: 1.4rem;
}
form{
     background-color: rgb(209, 224, 255);
     padding: 3rem;
}